body {
  background: rgb(244,244,228);
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 40px;
  padding: 10px;
  color: #222;
  box-shadow: 0 1px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.12);
}

.App-title {
  font-size: 1.5em;
  margin: 2px;
}

.contents {
  display: flex;
  justify-content: center;
}

section {
  background: white;
  color: #222;
  width: 480px;
  min-height: 300px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 1px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.12);
}

#todo-input {
  width: 90%;
  height: 80px;
}