body {
  background: rgb(244,244,228);
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 40px;
  padding: 10px;
  color: #222;
  box-shadow: 0 1px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.12);
}

.App-title {
  font-size: 1.5em;
  margin: 2px;
}

.contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  background: rgb(250,250,245);
  color: #222;
  width: 480px;
  min-width: 300px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 1px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.12);
}

.timer {
  height: 100px;
}

#todo-input {
  width: 90%;
  height: 80px;
}

ul {
  list-style-type: none;
  padding: 20px;
}

.todo-item {
  min-height: 30px;
  width: 100%;
  box-shadow: 0 1px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.12);
  margin: 4px;
  padding: 6px;
  text-align: left;
  background: white;
  display: flex;
}

.todo-item.checked {
  color: lightgrey;
  text-decoration: line-through;
}